services:
    app:
      build: .
      image: bandonapi:latest
      environment:
        - PYTHONUNBUFFERED=1
        - BANDON_API=http://localhost:8047
      container_name: bandonapi
      restart: unless-stopped
      command: fastapi dev app/main.py --host 0.0.0.0
      stdin_open: true
      tty: true
      ports:
        - "8047:8000"
      volumes:
        - .:/app
