<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Caddy Control</title>
    {# <script src="{{ url_for('static', path='js/htmx.min.js') }}"></script> #}
    <link href="{{ url_for('static', path='css/style.css') }}" rel="stylesheet">

    <style>
    .toast-container {
      position: fixed;
      top: 1rem;
      right: 1.5rem;
      display: grid;
      justify-items: end;
      gap: 1.5rem;
    }
    .toast {
      font-size: 1.5rem;
      font-weight: bold;
      line-height: 1.5rem;
      padding: .5em 1em;
      background-color: lightblue;
      animation: toastIt 3000ms cubic-bezier(0.785, 0.135, 0.15, 0.86) forwards;
    }
    @keyframes toastIt {
      0%, 100% {
	transform: translateY(-150%);
	opacity: 0;
      }
      10%, 90% {
	transform: translateY(0);
	opacity: 1;
      }
    }
    </style>
  </head>
  <body>
    <div class="container">
      <h1><span id="latlon"></span></h1>
      <h1>Course: <span id="course"></span></h1>
      <h1>Hole: <span id="hole"></span></h1>
      <h1>Front: <span id="front"></span></h1>
      <h1>Middle: <span id="center"></span></h1>
      <h1>Back: <span id="back"></span></h1>
      <button onclick="handleLocationClick()" class="btn">Measure</button>
    </div>
  </body>

  <script>
    const latlon = document.getElementById("latlon");
    const course = document.getElementById("course");
    const hole = document.getElementById("hole");
    const front = document.getElementById("front");
    const center = document.getElementById("center");
    const back = document.getElementById("back");
    const options = {
      enableHighAccuracy: true,
      timeout: 5000,
      maximumAge: 0,
    };

    function generateToast({
      message,
      background = 'tomato',
      color = '#fffffe',
      length = '2000ms',
    }){
      toastContainer.insertAdjacentHTML('beforeend',
	`<p
	class="toast"
	style="background-color: ${background};
	color: ${color};
	animation-duration: ${length}">
	${message}</p>`
    )
      const toast = toastContainer.lastElementChild;
      toast.addEventListener('animationend', () => toast.remove())
    }
    (function initToast(){
      document.body.insertAdjacentHTML('afterbegin',
	`<div class="toast-container"></div>`);
      toastContainer = document.querySelector('.toast-container');
    })();

    function handleLocationClick() {
      generateToast({
	message: '👊 you got this, kid! 👊'
      })
      if (navigator.geolocation) {
	navigator.geolocation.getCurrentPosition(success, error, options);
      } else {
	console.log("Geolocation not supported");
      }
    }
    function success(position) {
      const url = "{{base_url}}"
      console.log(url);
      const latitude = position.coords.latitude;
      const longitude = position.coords.longitude;
      const accuracy = position.coords.accuracy;
      // const show = true;
      console.log(`Latitude: ${latitude}, Longitude: ${longitude}`);
      latlon.textContent = `${latitude},${longitude}`;
      // fetch(`http://127.0.0.1:8047/green/13??lat=${latitude}&lon=${longitude}`)
      let green = 47;
      let track = 'bandon';
      fetch(
	//`http://bandonapi.debbout.info/green/13?lat=${latitude}&lon=${longitude}`,
	`${url}/measure?track=${track}&green=${green}&lat=${latitude}&lon=${longitude}`,
      )
	.then((response) => response.json())
	.then((data) => {
	  console.log("this is in response");
	  console.log(data);
	  course.textContent = data.course;
	  hole.textContent = data.hole;
	  front.textContent = data.front;
	  center.textContent = data.center;
	  back.textContent = data.back;
	})
	.catch((error) => console.log(error));
    }
    function error() {
      alert("Unable to retrieve your location");
    }
  </script>
</html>
