<!DOCTYPE <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Caddy Control</title>
    {# <script src="{{ url_for('static', path='js/htmx.min.js') }}"></script> #}
    <link href="{{ url_for('static', path='css/style.css') }}" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <h1><span id="latlon"></span></h1>
      <h1>Course: <span id="course"></span></h1>
      <h1>Hole: <span id="hole"></span></h1>
      <h1>Front: <span id="front"></span></h1>
      <h1>Middle: <span id="center"></span></h1>
      <h1>Back: {{greens}}<span id="back"></span></h1>
      <button onclick="handleLocationClick()" class="btn">Measure</button>
    </div>
  </body>
  <script>

    const latlon = document.getElementById("latlon");
    const course = document.getElementById("course");
    const hole = document.getElementById("hole");
    const front = document.getElementById("front");
    const center = document.getElementById("center");
    const back = document.getElementById("back");

    function getSelectedGreen() {
      let e = document.getElementById("green");
      let value = e.value;
      console.log(value);
      return value;
    };

    function handleLocationClick() {
      if (navigator.geolocation) {
	navigator.geolocation.getCurrentPosition(success, error, options);
      } else {
	console.log("Geolocation not supported");
      }
    }

    const options = {
      enableHighAccuracy: true,
      timeout: 5000,
      maximumAge: 0,
    };

    function success(position) {
      const latitude = position.coords.latitude;
      const longitude = position.coords.longitude;
      const accuracy = position.coords.accuracy;
      // const show = true;
      console.log(`Latitude: ${latitude}, Longitude: ${longitude}`);
      const url = "{{greens}}"
      console.log(url);
      latlon.textContent = `${latitude},${longitude}`;

      // fetch(`http://127.0.0.1:8047/green/13??lat=${latitude}&lon=${longitude}`)
      let green = 47;
      let track = 'bandon';
      fetch(
	//`http://bandonapi.debbout.info/green/13?lat=${latitude}&lon=${longitude}`,
	`${url}measure?track=${track}&green=${green}&lat=${latitude}&lon=${longitude}`,
      )
	.then((response) => response.json())
	.then((data) => {
	  console.log("this is in response");
	  console.log(data);
	  course.textContent = data.course;
	  hole.textContent = data.hole;
	  front.textContent = data.front;
	  center.textContent = data.center;
	  back.textContent = data.back;
	})
	.catch((error) => console.log(error));
    }

    function error() {
      alert("Unable to retrieve your location");
    }
  </script>

</html>
